
/*THIS CSS IS FOR THE INTRO.HTML*/

@media only screen and (max-width: 569px) {
	.scrolling-content-aboutWebsite {
    position: relative;
    width: 100%;
    height: 1000px;
    /*background: #ffffff;*/
    z-index: 2;
    text-align: center;
    background-color: Lavender;
    padding: 50px;
	}
	.scrolling-content {
    position: relative;
    width: 100%;
    height: 900px;
    z-index: 2;
    text-align: center;
    background-color: Lavender;
    padding: 50px;
	}
	.nowrap {
		white-space: nowrap;
		text-align: center;
	}
	.apiLogo {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}


@media only screen and (max-width: 767px) and (min-width: 570px) {
	.scrolling-content-aboutWebsite {
    position: relative;
    width: 100%;
    height: 1000px;
    /*background: #ffffff;*/
    z-index: 2;
    text-align: center;
    background-color: Lavender;
    padding: 50px;
	}
	.scrolling-content {
    position: relative;
    width: 100%;
    height: 1100px;
    z-index: 2;
    text-align: center;
    background-color: Lavender;
    padding: 50px;
	}
	.apiLogo {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
@media only screen and (max-width: 940px) and (min-width: 768px) {
	.scrolling-content-aboutWebsite {
    position: relative;
    width: 100%;
    height: 800px;
    /*background: #ffffff;*/
    z-index: 2;
    text-align: center;
    background-color: Lavender;
    padding: 50px;
	}
	.scrolling-content {
    position: relative;
    width: 100%;
    height: 900px;
    /*background: #ffffff;*/
    z-index: 2;
    text-align: center;
    background-color: Lavender;
    padding: 50px;
	}
	.apiLogo {
	margin-bottom: 20px
}
}
@media only screen and (min-width: 939px) {
	.scrolling-content-aboutWebsite {
    position: relative;
    width: 100%;
    height: 800px;
    /*background: #ffffff;*/
    z-index: 2;
    text-align: center;
    background-color: Lavender;
    padding: 50px;
	}
	.scrolling-content {
    position: relative;
    width: 100%;
    height: 800px;
    /*background: #ffffff;*/
    z-index: 2;
    text-align: center;
    background-color: Lavender;
    padding: 50px;
	}
	.apiLogo {
	margin-bottom: 20px;
}
}

h1, h2, h3 {
	font-weight: bold;
	font-size: 30px;
}

p {
	font-size: 16px;
}

hr {
    color: black;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.glyphicon {
	font-size: 100px;
}
.content {
	padding-top: 20px;
	padding-bottom: 10px;
	/*background-color: white;*/
}

.parallax {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    z-index: 1;
}

.parallax .title {
	position: relative;
    overflow: hidden;
    top: 300px;
    text-align: center;
    color: white;
}
#parallax-1 {
    background-image: url("../images/movie.png");
    background-size: cover;
}
#parallax-2 {
    background-image: url("../images/frontEnd.png");
    background-size: cover;
}
#parallax-3 {
	background-image: url("../images/backEnd.png");
	background-size: cover;
}
#parallax-4 {
	background-image: url("../images/website.png");
	background-size: cover;
}

.scrolling-content-footer {
    position: relative;
    width: 100%;
    height: 100px;
    /*background: #ffffff;*/
    z-index: 2;
    text-align: center;
    background-color: Lavender;
    padding: 20px;
}
.websiteLinkText {
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    background-color: #73AD21;
    border-radius: 25px;
    color: white;
}