
.search-form {
	padding: 10%;
}
.search-form{
	padding-top: 3px;
}
=======
.container {
	padding: 5%;
}

.search-btn {
	margin-top: 3px;
}

.jumbotron{
	background-image: url("assets/images/WineAndCork2.png");
}

