<<<<<<< HEAD
.search-form {
	padding: 10%;
}
.search-form{
	padding-top: 3px;
}
=======
.container {
	padding: 5%;
}

.search-btn {
	margin-top: 3px;
}

>>>>>>> c7898326e44f97e892b6f29138d426d06c3ac39c
